/* Removing whitespace */

*, *::before, *::after { 
  box-sizing: border-box; 
  margin-top: 0;
}

/* Utility classes */


/* Styles */ 

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#portfolio {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  flex: 0 0 30%;
  display: flex;
  justify-content: space-around;
}

.project:first-of-type {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}

#about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}