/* Removing whitespace */

*, *::before, *::after { 
  box-sizing: border-box; 
  margin-top: 0;
}

/* Utility classes */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.col_center {
  align-self: center;
}

.col_right {
  align-self: flex-end;
}

.row_center {
  justify-content: center;
}

.row_right {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

/* Styles */

.project {
  flex: 1 1 33.333333%;
  width: 1000px;
}

.project:first-of-type {
  flex: 0 0 100%;
}